.feedbackSet {
  font-size: 20px;
}

.feedbackGreen {
  color: green;
  font-weight: 600;
}

.feedbackYellow {
  color: orange;
  font-weight: 600;
}

.feedbackRed {
  color: red;
  font-weight: 600;
}
