.buttonSet {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(190, 189, 189, 0.289);
  font-size: 18px;
}

.button:hover {
  background-color: white;
  border-color: black;
}

.btnRefresh {
  color: #8b0000;
  border-color: #8b0000;
}

.btnRefresh:hover {
  background-color: #edbbbb;
  border-color: #8b0000;
}
